<div class="tw-pl-6 tw-pb-6">
  <p class="tw-text-xl">Thanks for signing up for Bitwarden for {{ orgType | titlecase }}!</p>
  <ul class="tw-list-disc">
    <li>
      <p>
        We've sent a confirmation email to your team's billing email at
        <span class="tw-font-bold">{{ email }}</span
        >.
      </p>
    </li>
    <li>
      <p>
        Your {{ orgType | titlecase }} 7 day free trial will be converted to a paid subscription
        after 7 days.
      </p>
    </li>
  </ul>
</div>
